body {
    padding: 20px;
    background-color: #f4f4f4;
}
#mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    padding: 10px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card h3 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.card h4{
    padding-top: 1em;
}
#welcome {
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
}
#login-button {
    padding: 1em;
    font-size: 20px;
}
.row button{
    margin: 1em 2em;
    width: 80%;
}
input[type="text"], input[type="submit"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/* Game board general styling */
.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.game-board p, .game-board h2 {
    margin:0;
}

.input-error {
    border-color:#dc3545;
}

/* Game board header */

.game-board-header {
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
}

.game-board-header > p {

    width:150px;
    margin-left: auto;
    margin-right:20%;
}

.game-board-header > div {
    width:150px;
    margin-right:auto;
    margin-left:20%;
}

/* Game timer related */

.timer {
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3px;
    width:500px;
}

.timer > p {
    width:fit-content;
}

.timer > div {
    display:flex;
    flex-direction: column;
    align-items: flex-end;

    height:15px;
    width:calc(100% - 60px);
    margin: 0 30px;
    background-color: lightgray;
    border-radius: 10px;
}

.timer > div > div {

    background-color: #008000;
    width: calc(100% - 4px);
    margin: 2px;
    height:11px;
    border-radius: 10px;

}

/* Game boards form */

.game-board-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width:15%;
}

/* "Guess who" game related */

#guess-who-board > table {
    text-align: center;
    width:500px;
}

#guess-who-board > table > thead > tr > th:first-child {
    width:80px;
}

#guess-who-board > table > tbody > tr:first-child {
    --bs-table-bg:rgb(194, 240, 255);
}

/* Related game related */

#related-board-answers {
    display:flex;
    column-gap: 50px;
}

#related-board > div > table {

    text-align: center;
    width:400px;

}

/* From https://www.w3schools.com/howto/howto_css_modals.asp */
#game-end-modal {

    display:flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);

}

#game-end-modal > div {

    display:flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    width:500px;
    height:200px;
    border-radius: 10px;

}

#game-end-modal > div > h2, #game-end-modal > div > p {
    width:fit-content;
    margin-top:5px;
}

#game-end-modal > div > div {
    margin-top: auto;
    margin-bottom: 10px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-around;
}

#game-end-modal-btn-menu {
    width:45%;
}

#game-end-modal-btn-restart {
    width:45%;
}